<section class="oe_container">
	<div>
		<div class="text-center">
			<a target="new" href="http://www.acespritech.com">
				<img src="ace_logo.png" style="width:200px;">
			</a>
		</div>
	</div>
</section>
<br/>
<section>
		<div class="main-fixed-section" style="
				position: fixed;
				top: 30%;
				right: 0;
				margin: 5px auto;
				background: #dbecf0;
				padding: 5px;
				border-radius: 10px;
				border: 2px solid #00A09D;
				text-align: center;
				max-width: 7%;">
			<span class="quick-contact" style="
				width: 100%;
				float: left;
				font-weight: 600;
				text-align: center;
				height: auto;
				/* for font */
				color: #27525f;
				font-weight: 600;
				text-align: center;
				height: auto;
				width: 100%;
				font-size: 13px;
			">Contact Acespritech</span>
			<div class="fixed-contact" style="
				padding: 0;
				border: 0px solid #875A7B;
				margin: 2px 17px;
				background: #875A7B;
				float: left;
				border-radius: 30px;
				text-align: center;
				height: auto;
				line-height: 45px;">
				<div class="contact-number">
					<a href="mailto:info@acespritech.com" target="_blank">
						<span>
							<img src="mail_icon.png" style="width: 100%;height: auto;max-width: 55%;" />
						</span>
					</a>
				</div>
			</div>
			<div class="fixed-website" style="
				padding: 0;
				border: 0px solid #875A7B;
				margin: 2px 17px;
				background: #875A7B;
				float: left;
				border-radius: 30px;
				text-align: center;
				height: auto;
				line-height: 45px;">
				<div class="contact-number">
					<a href="https://www.acespritech.com" target="_blank">
						<span>
							<img src="icon_website.png" style="width: 100%;height: auto;max-width: 55%;" />
						</span>
					</a>
				</div>
			</div>
			<div class="fixed-skype" style="
				padding: 0;
				border: 0px solid #875A7B;
				margin: 2px 17px;
				background: #875A7B;
				float: left;
				border-radius: 30px;
				text-align: center;
				height: auto;
				line-height: 45px;">
				<div class="contact-number">
					<a href="skype:acespritech" target="_blank">
						<span>
							<img src="skype_icon.png" style="width: 100%;height: auto;max-width: 50%;" />
						</span>
					</a>
				</div>
			</div>
		</div>
</section>
<br/>
<section class="oe_container oe_dark">
	<div class="oe_row">
		<div class="oe_span12" style="width:90%">
			<h2 class="oe_slogan">Odoo 13 Odoo HR Payroll</h2>
			<h3 class="oe_slogan">HR Payroll for Community Version</h3>
			<div>
				<h3>
					Features
				</h3>
			</div>
			<ul>
				<li style="color:#30054D;font-weight:bold;">Salary Rule</li>
				<li style="color:#30054D;font-weight:bold;">Manage contracts</li>
				<li style="color:#30054D;font-weight:bold;">Manage Employee payslip</li>
				<li style="color:#30054D;font-weight:bold;">Handle Employee payslip batches</li>
				<li style="color:#30054D;font-weight:bold;">Contribution Register</li>
			</ul>
			<h4 class="oe_slogan">How to use</h4>
			<div class="oe_screenshot" style="text-align: left; color:#30054D;font-weight:bold;">
				<ul>
					<li><p>Payroll  is a company’s list of its employees, but the term is commonly used to refer the total amount of money that a company pays to its employees. As the word itself, it indicates the sense of “money paid to employees”. The primary mission of the payroll department is to ensure that all employees are paid accurately and timely with the correct holding and deductions, and that the with holding and deductions are remitted in a timely manner. It is an important factor because payroll and payroll taxes considerably affect the net income. The primary mission of the payroll department is to ensure that all employees paid accurately and timely. Human Resource management module in Odoo manages all those works. This module includes a generic payroll engine that handles everything required to compute Employee payslip, the taxes to pay, etc. And also can manage company payroll in Odoo.</p>
					<br/>
					<b>How to Install your country's Payroll from setting menu In Odoo</b>
					<br/>
					<br/>
					</li>
					<img style="max-width: 100%;font-weight:bold;" src="select_country_payroll.png"><br /><br />
					<br/>
					<br/>
					<li>
						<p>After installing payroll in Odoo of your database there are some process include ,The Salary rule are uses to compute data like allowances, deductions, net, taxes, contribution registers You can define salary rules by using the expression.</p>
						<p>Inside a salary structure we define some rule which is useful for computing the payslip. We can use a single structure for particular departments, or for other categories. It is possible to inherit Salary structures, so we can use extra rules for particular employees.</p>
						<p>For example: “First made a structure for the employee and given name as Manager selected the base structure that we created as the parent.”</p>
					<br/>
					<br/>
					</li>
					<img style="max-width: 100%;font-weight:bold;" src="salary_structure_menu.png"><br /><br />
					<br/>
					<img style="max-width: 100%;font-weight:bold;" src="salary_structure_form.png"><br /><br />
					<br/>
					<br/>
					<li>
						<p>The base structure includes the basic, Gross, Net salary rules.</p>
					<br/>
					<br/>
					</li>
					<img style="max-width: 100%;font-weight:bold;" src="base_salary_structure.png"><br /><br />
					<br/>
					<br/>
					<li>
						<p>We can select Any salary rules from Existing rules or create new.</p>
					<br/>
					</li>
					<img style="max-width: 100%;font-weight:bold;" src="salary_structure_form_rule.png"><br /><br />
					<br/>
					<br/>
					<li>
						<b>Salary Rule:</b><br/>
						<p>The set of rules which define the computation of salary amount of different category. That can be of Basic, Allowance, Deduction, Gross, Net. You can define salary rules by using the expression. Here usage of sequence is for calculating Gross, should always be greater than the sequence’s given on Allowance’s rules, else it won’t be considered in the calculation of Gross value.</p>
						<p>It includes the condition and its computation to be specified. In computation part, we can select the computation of an amount based on Percentage, Fixed Amount, and Python Code. While using the Python expressions, and then returned value has to be set in the variable result.
						</p>
					<br/>
					<img style="max-width: 100%;font-weight:bold;" src="salary_rule.png"><br /><br />
					<br/>
					<br/>
					<li>
						<b>Contracts:</b><br/>
						<p>Create a contract for an employee which is possible to use during the payslip generation. In this, have a Salary structure for payslip and a Scheduled Pay by using this salary / wages are scheduled to be paid. e.g. monthly, weekly, quarterly, etc.</p>
						<p>Here In contracts, we specify the salary structure, Basic Wage, Duration, Working Schedule and Scheduled pay.</p>
					<br/>
					<img style="max-width: 100%;font-weight:bold;" src="employee_contracts_form.png"><br /><br />
					<br/>
					<br/>
					<li>
						<b>Employee payslip:</b><br/>
						<p>Payslip is a document issue by an employer to employee. It is possible to create payslip using clicking on Employee payslip menu. We can generate a payslip for employee in a contract and hence the payslip will calculate according to the selected salary structure in the contract. After generating payslip, it can be export as PDF and that can be of rule wise report and simple payslip report. In payslip generation we can select an employee and a contractor and a salary structure for generating payslip and define a period between beginning date of pay period and last date of pay period.</p>
						<p>When you click on the compute sheet, Payslip will calculate based on the sequence provide on salary rules. Allowances and Deductions will be in positive and negative values respectively.</p>
					<br/>
					<img style="max-width: 100%;font-weight:bold;" src="employee_payslip.png"><br /><br />
					
					<li>
						<p>Worked days &amp; inputs tab used to list out the total worked hours base on the working schedule selected on contract.</p>
					</li>
					<img style="max-width: 100%;font-weight:bold;" src="employee_payslip_work_and_input.png"><br /><br />
					<img style="max-width: 100%;font-weight:bold;" src="employee_payslip_salary_computation.png"><br /><br />
					<br/>
					<br/>
					<li>
						<b>Employee payslip batches:</b><br/>
						<p>By selecting payslip batches from a payroll we can Create payslips for various employees at a time. Its like a register which holds payslips of various employees.</p>
					<br/>
					<img style="max-width: 100%;font-weight:bold;" src="employee_payslip_batches.png"><br /><br />
					<img style="max-width: 100%;font-weight:bold;" src="employee_payslip_batches_generate.png"><br /><br />
					<img style="max-width: 100%;font-weight:bold;" src="employee_payslip_batches_wizard.png"><br /><br />
					<img style="max-width: 100%;font-weight:bold;" src="employee_payslip_batches_confirm.png"><br /><br />
					<br/>
					<br/>
					<li>
						<b>Contribution Register:</b><br/>
						<p>Contribution register which are helpful to link list of details. After creating a register you can assign it on Salary rule. When the Payslip created, payslip lines generated through salary rules, having a contribution register will link with that register.</p>
					<br/>
					<img style="max-width: 100%;font-weight:bold;" src="contribution_register.png"><br /><br />
					
					
				</ul>
		   </div>
		</div>
	</div>
</section>
<br/>
<section class="oe_container">
	<H3>
		<center>Release Notes</center>
	</H3>
</section>
<section class="oe_container">
	<div class="release_note_container">
		<div class="release_note_details" style="border-bottom: 1px solid #c4c4c4;padding-top: 5px;">
			<div class="release_note_header" style="background: #c4c4c4;height: 47px;line-height: 20px;padding: 5px;border-radius: 3px;font-weight: bold;">
				<span>Release Update - December 3, 2019</span>
				<br/>
				<span>Version - 13.0.1.0</span>
			</div>
<!--            <div class="release_note_type">-->
<!--                <b>What's New</b>-->
<!--            </div>-->
			<div class="release_note_body">
				<ul>
					<li>Initial Release</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="oe_row" style="background-color: #008000;">
		<div style="margin-bottom: 10px;" class="oe_slogan text-center">
			<div class="oe_span12">
				<h3 class="text-center" style="color: #FFFFFF; font-size: 20px">
					<b>NOTE:</b> We give 60 days support for our customers. Before
					trying in your live db, please ask us to provide you for test link.
					If any other custom modules are installed and because of that some
					errors occurs then we charge extra.
				</h3>
			</div>
		</div>
	</div>
	<div class="oe_row" style="background-color: #004CFF;">
		<div style="margin-bottom: 10px;" class="oe_slogan text-center">
			<div class="oe_span12">
				<h3 class="text-center" style="color: #FFFFFF; font-size: 20px">Contact
					us for support, query, customization</h3>
			</div>
			<span>
				<a target="new" href="http://www.acespritech.com" style="color: yellow !important; font-weight: bold;">Website</a> |
				<a target="new" href="http://www.acespritechblog.com" style="color: yellow !important; font-weight: bold;">Blog</a> |
				<a href="info@acespritech.com" style="color: yellow !important; font-weight: bold;">Email us</a> |
				<a style="color: yellow !important; font-weight: bold;">Skype:acespritech</a>
			</span>
		</div>
	</div>
</section>
