<section class="oe_container">
    <div>
        <div class="text-center">
            <a target="new" href="http://www.acespritech.com">
                <img src="ace_logo.png" style="width:200px;">
            </a>
        </div>
    </div>
</section>
<br/>
<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12" style="width: 90%">
            <h2 class="oe_slogan">Odoo 13 Sales Commission (Community)</h2>
            <h3 class="oe_slogan">This module allows to give commission to Sales Person.</h3>
            <div><font style="color:red;font-weight:bold;"><b>Note: </b>This module is tested and working in Odoo community edition but not tested in Enterprise version. And we are supporting Ubuntu OS and not Windows OS.</font></div>
            <br/>
            <div class="oe_centeralign oe_websiteonly">
                <a href="https://apps.odoo.com/apps/modules/13.0/aspl_sales_commission_ee/" target="new"
                   class="oe_button oe_big" style="background-color: #007a77;">Available for Enterprise</a>
            </div>
            <br/>
            <h3>
                Features
            </h3>
            <ul>
                 <li style="color:#30054D;font-weight:bold;">Easy To Manage Sales Commission.</li>
                 <li style="color:#30054D;font-weight:bold;">Give commission to Sales Person.</li>
                 <li style="color:#30054D;font-weight:bold;">Commission calculation based on Product, Product category, Sales team, Customer</li>
                 <li style="color:#30054D;font-weight:bold;">Manage the commission calculate on Order confirmation, Invoice Validation, Invoice payment.</li>
                 <li style="color:#30054D;font-weight:bold;">Manage the commission payment via Salary or Invoice.</li>
                 <li style="color:#30054D;font-weight:bold;">Supports Multi-company.</li>
             </ul>
            <h4 class="oe_slogan">How to use</h4>
            <div class="oe_screenshot" style="text-align: left;">
            <ul>
                <li style="color:#30054D;font-weight:bold;">In Sales configuration, under the Sales commission, set the option for Commission Pay on, Commission Calculation, Commission Pay by. Based on this configuration the commission is calculate and paid.</li>
            </ul>
            <img style="max-width: 100%;" src="odoo13_12_sale_configuration.png"><br/><br/>
            <ul>
                <li style="color:#30054D;font-weight:bold;">You can set the Commission Account in Company form.</li>
            </ul>
            <img style="max-width: 100%;" src="odoo13_13_account_configuration.png"><br/><br/>
            <ul>
                <li style="color:#30054D;font-weight:bold;">In Products, below the Sales commission tab, select the Job Position or Users and set Compute Price as Fixed price or Percentage. This same configuration also available into the Customer, Product Category and Sales Team view.</li>
                <li style="color:#30054D;font-weight:bold;">Person who is selling product and if his name or job position define into that configuration then that person will be eligible for commission. Here we are showing that it will easy to define any job position or users as per their commission criteria.</li>
            </ul>
            <img style="max-width: 100%;" src="odoo13_2_commission_configuration.png"><br/><br/>
            <ul>
                <li style="color:#30054D;font-weight:bold;">In Sale order, below the Sales commission tab, based on the Sales person and commission calculation option, commission data is calculated.</li>
            </ul>
            <img style="max-width: 100%;" src="odoo13_3_sale_order.png">
            <img style="max-width: 100%;" src="main_screenshot.png"><br/><br/>
            <ul>
                <li style="color:#30054D;font-weight:bold;">If commission based on 'product/product category' and commission Pay on 'customer invoice validation/customer invoice payment' and invoice is created. so if invoice lines as products and there quantity so based on that commission calculation will be done.</li>
            </ul>
            <img style="max-width: 100%;" src="odoo13_3_sale_order_1.png">
            <img style="max-width: 100%;" src="odoo13_3_sale_order_2.png">
            <img style="max-width: 100%;" src="odoo13_3_invoice_1.png">
            <img style="max-width: 100%;" src="odoo13_3_invoice_2.png"><br/><br/>
             <ul>
                <li style="color:#30054D;font-weight:bold;">Note : If commission based on 'product/product category' and commission Pay on 'customer invoice validation/customer invoice payment' and invoice is created using down payment flow. so commission calculation will not work properly.</li>
            </ul>
            <ul>
                <li style="color:#30054D;font-weight:bold;">Into Commission menu, you can see the commission's detail like user, amount, pay by etc...</li>
            </ul>
            <img style="max-width: 100%;" src="odoo13_4_commission_data.png"><br/><br/>
            <ul>
                <li style="color:#30054D;font-weight:bold;">Click on the commission payment, into opened pop-up, select the user, when click the Generate Invoice button it will make the Vendor Bill of commission details which is pay by 'Invoice' And also one 'Generate Invoice' scheduler is available which execute after every 7 days and generate vendor bills.</li>
            </ul>
            <img style="max-width: 100%;" src="odoo13_5_wizard_pay_commission_01.png"><br/><br/>
            <img style="max-width: 100%;" src="odoo13_5_wizard_pay_commission_02.png"><br/><br/>
            <ul>
                <li style="color:#30054D;font-weight:bold;">Here below is the Vendor bill which is generate from the Commission.</li>
            </ul>
            <img style="max-width: 100%;" src="odoo13_6_vendor_bill.png"><br/><br/>
            <ul>
                <li style="color:#30054D;font-weight:bold;">When module is install, into salary rule, you get new salary rule for pay the commission by Salary.</li>
            </ul>
            <img style="max-width: 100%;" src="odoo13_7_commission_salary_rule.png"><br/><br/>
            <ul>
                <li style="color:#30054D;font-weight:bold;">Add this new salary rule to Salary structure, so when employee payslip is create at that time employee related user's commission amount is added into employee's salary amount.</li>
            </ul>
            <img style="max-width: 100%;" src="odoo13_8_salary_structure.png"><br/><br/>
            <ul>
                <li style="color:#30054D;font-weight:bold;">When the employee salary slip is generate, it will automatically added the commission amount and when confirm payslip, employee related user's commission set to 'Paid'.</li>
            </ul>
            <img style="max-width: 100%;" src="odoo13_9_commission_payslip.png"><br/><br/>
            <ul>
                <li style="color:#30054D;font-weight:bold;">Click Print Commission summary menu, into opened pop-up, select the available options and click print button for printing the commission report.</li>
            </ul>
            <img style="max-width: 100%;" src="odoo13_10_wizard_print_report_01.png"><br/><br/>
            <img style="max-width: 100%;" src="odoo13_10_wizard_print_report_02.png"><br/><br/>
            <ul>
                <li style="color:#30054D;font-weight:bold;">Here below is the user wise commission report.</li>
            </ul>
            <img style="max-width: 100%;" src="odoo13_11_commission_pdf_report.png"><br/><br/>
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
   <H3>
       <center>Release Notes</center>
   </H3>
</section>
<section class="oe_container" style="max-height: 350px;overflow: auto;">
   <div class="release_note_container">
       <div class="release_note_details" style="border-bottom: 1px solid #c4c4c4;padding-top: 5px;">
           <div class="release_note_header" style="background: #c4c4c4;height: 47px;line-height: 20px;padding: 5px;border-radius: 3px;font-weight: bold;">
               <span>Release Update - October 22, 2019</span>
               <br/>
               <span>Version - 13.0.1.0</span>
           </div>
<!--           <div class="release_note_type">-->
<!--               <b>Migration Completed</b>-->
<!--           </div>-->
           <div class="release_note_body">
               <ul>
                 <li>Initial Release</li>
               </ul>
           </div>
       </div>
   </div>
</section>
<section class="oe_container">
   <div class="oe_row" style="background-color: #008000;">
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
               <h3 class="text-center" style="color:#FFFFFF; font-size:20px"><b>NOTE:</b> We give 60 days support for our customers. Before trying in your live db, please ask us to provide you for test link. If any other custom modules are installed and because of that some errors occurs then we charge extra.</h3>
           </div>
       </div>
   </div>
    <div class="oe_row" style="background-color: #004CFF;">
        <div style="margin-bottom:10px;" class="oe_slogan text-center">
            <div class="oe_span12">
                <h3 class="text-center" style="color:#FFFFFF; font-size:20px">Contact us for support, query, customization</h3>
            </div>
            <span>
               <a target="new" href="http://www.acespritech.com" style="color: yellow !important;font-weight:bold;">Website: https://acespritech.com/</a> |
               <a href="mailto:info@acespritech.com" style="color: yellow !important;font-weight:bold;">Email us</a>
               | <a style="color: yellow !important;font-weight:bold;">Skype: acespritech</a>
           </span>
        </div>
    </div>
</section>