<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;">
   <div class="container">
      <div class="row">
         <div class="sh_span12 col-12" style="padding: 40px">
            <center class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;line-height: 40px;"><b style="font-weight: bold;font-family: "Montserrat", sans-serif;>PWA (Progressive Web Application) Backend</b></center> <hr style="border: 1px solid #96969a;position:relative;width:40px;top:-10px;padding:0px;margin-bottom: 0px;">
            <p class="sh_description" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: center;">The PWA (progressive web application) backend works like a normal application on the mobile. It allows you to adjust the custom style as your requirement. We provide icon size, name, display orientation, colors, etc options to make quickly app format. You get a combination of a native app with the website. You can select and configure multi-company for PWA.
</p>
         </div>
      </div>
   </div>
</section>
<!-- video -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
<div class="container">
    <div class="sh_spaced">

      <h2 align="center">
        <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;padding: 1%;text-decoration: none;border-radius: 2px;display: inline-block;" class="btn btn-success btn-lg" href="https://youtu.be/7fCQN-N5k9w" target="_blank"><span class="o_ripple d-block position-absolute rounded-circle" style="height: 398px; width: 398px; top: -164px; left: -147.891px;"></span>PWA Backend video</a>
      </h2>
      <h2 align="center">
        <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;padding: 1%;text-decoration: none;border-radius: 2px;display: inline-block;" class="btn btn-success btn-lg" href="https://youtu.be/sY85y5_eGEM" target="_blank"><span class="o_ripple d-block position-absolute rounded-circle" style="height: 398px; width: 398px; top: -164px; left: -147.891px;"></span>PWA-Multi-Company video</a>
      </h2>
   

</div>
        </div>
</section>
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;">
   <div class="container">
       <div class="row">
          <div class="sh_spaced" style="width: 100%;">
              <div class="sh_span12 " style="padding: 0px 15px!important;">
                  <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 5px;"><b style="font-weight: bold;font-family: " open="" sans="" sans-serif="">PWA Features</b>
                  </h2>
                  <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom: 2em;">
                
                   <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
Lower development costs than native mobile apps.

               </p>
                 <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
The PWA provides a combination of a native application with the website.

               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
Load faster than native apps.

               </p>
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
Fast installation compares to native mobile apps.

               </p>
               
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
In PWA you have not updating issue that occurs in other applications.

               </p>
                 
              </div>
          </div>
      </div>
   </div>
</section>  

<!-- feature -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em; padding: 40px">
   <div class="container">
      <div class="row">
         <div class="sh_spaced" style="width: 100%;">
            <div class="sh_span12 " style="padding: 0px 15px!important;">
               <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: " open="" sans="" sans-serif="">Features</b>
               </h2>
               <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom: 2em;">
               
                   <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
<b>A multi-company option is available for PWA backend.</b>

               </p>
                  <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
Easy to configure the PWA backend with the icon size, name, display orientation, colors.
               </p>
                <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
The configuration options, <br><br>

1) <b>Color:</b> Theme color & Background color.<br>
2) <b>Icon:</b> Icon, Icon mimetype, Icon size.<br>
3) <b>Display orientation:</b> Fullscreen, Standalone, Minimal.<br>
4) <b>General configuration:</b> Name, Short name.
               </p>
                
               <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                  <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                 No special configuration required just install it and cheers!
               </p>
                <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

 This module saves your important time.

</p>

   <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

It reduces human efforts.

</p>

            </div>
         </div>
      </div>
   </div>
</section>
<!-- version -->

<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
   <div class="container">
      <div class="sh_spaced">
         <div class="sh_span12 " style="padding: 0px!important;">
            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: "open="" sans="" sans-serif="">Version</b>
            </h2>
            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom:15px;">
            <div class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;font-weight: 600;margin:0px;">
               <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
             v13.0.3 (12<sup>th</sup> September 2020)
               <ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                     Fix iPhone Icon Issue.
                  </li>
               </ul>
               <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
             v13.0.2 (27<sup>th</sup> August 2020)
               <ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                     Multi-Company Feature Added.
                  </li>
               </ul>
               <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
             v13.0.1 (29<sup>th</sup> June 2020)
               <ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                     Initial Release
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
Go to "Settings" => "PWA Backend Configuration".
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img class="img-responsive" src="1.png" style="width:100%;">
      </div>
   </div>
</section>

<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
You can configure PWA as per your choice.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img class="img-responsive" src="2.png" style="width:100%;">
      </div>
   </div>
</section>

<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
You have an option in the display orientation.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img class="img-responsive" src="3.png" style="width:100%;">
      </div>
   </div>
</section>
<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
You will see plus icon like we have highlighted in the screenshot if you press that then you will see one popup to install the app then press the "Install" button.
     </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img class="img-responsive" src="4.png" style="width:100%;">
      </div>
   </div>
</section>
<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
Installed PWA backend looks like below.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
        <center><img class="img-responsive" src="5.png"></center> 
      </div>
   </div>
</section>
<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
You can add a multi-company vise PWA configuration.
     </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img class="img-responsive" src="s1.png" style="width:100%;">
      </div>
   </div>
</section>
<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
You can select a multi-company for PWA from here.
     </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img class="img-responsive" src="s2.png" style="width:100%;">
      </div>
   </div>
</section>
<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
   <div class="oe_spaced" style="margin: 0;">
      <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
You can configure the iPhone icon.
      </h2>
      <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
      <div style="margin:5px auto;">
         <img class="img-responsive" src="n.png" style="width:100%;">
      </div>
   </div>
</section>
<!--you may also like-->

<section class="oe_container oe_dark" style="background: #efefef00;">
<div class="oe_row oe_spaced">
<h2 class="display-3" style="color:#1578b9;text-align: center;font-size: 3.2rem;">You May <b style="font-weight: bold;font-family: " open="" sans",="" sans-serif;"=""> Also Like!</b></h2>
<hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px; margin-bottom: 10px;"/>
<div class="row">
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_pwa_frontend/">
<img src="image1.png" alt="PWA Frontend" width="100%">
</a>

</div>
<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_pos_receipt/">
<img src="image2.png" alt="POS Receipt Report - Odoo Backend
" width="100%">
</a>

</div>

<div class="col-md-4" align="center" style="margin-top: 1rem;">
<a href="https://apps.odoo.com/apps/modules/12.0/sh_website_description/">
<img src="image3.jpeg" alt="Website Description In Backend
" width="100%">
</a>

</div>
</div>
</div>
</section>
<br>
<section class="oe_container oe_dark">
<div class="oe_row oe_spaced">
<h2 class="oe_slogan" style="color:#2C0091;">Help & Support</h2>
<h3 class="oe_slogan">You will get free support for 90 days and assistance in case of any issues

</h3>
<br/>
<div class="text-center">
<a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:support@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="support[at]softhealer.com">Email</span></a>

</div>
</div>
</section>